.menu-checkbox {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  padding: 12px;
  display: block;
  text-decoration: none;
  color: #333;
}

.menu-btn {
  cursor: pointer;
}

#menu-checkbox:checked + .dropdown-menu {
  display: block;
}
