.conteuner {
  height: auto;
  width: 1296px;
  margin: auto;
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.text_logo {
  color: #000;
  font-family: Quicksand;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
  text-decoration: none;
}
.top_footer {
  display: flex;
  justify-content: space-between;
}

.logo_footer {
  display: flex;
  gap: 24px;
}

.logo_insta {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  background-image: url(/img/Frame.svg);
}
.logo_Facebook {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  background-image: url(/img/Facebook.svg);
}

.logo_in {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  background-image: url(/img/IN.svg);
}
.text16px {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.booton_footer {
  display: flex;
  justify-content: space-between;
  height: 57px;
  align-items: flex-end;
  margin-bottom: 64px;
}

.drawdrop {
  display: flex;
}
.dropdown-btn {
  display: flex;
  width: 88px;
  border-radius: 4px;
  background: #0f8277;
  border: 1px solid #0f8277;
  color: #eee;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
  cursor: pointer;
  list-style: none;
  position: relative;
  /* margin-left: 44px; */
  margin-right: 44px;
}

.dropdown-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  background-color: #0f8277;
  padding: 3px;
}
.drop:hover .drawdrop_menu {
  display: block;
}
.drop {
  position: relative;
  margin-left: 44px;
}

.drawdrop_menu {
  width: 390px;
  height: 560px;
  display: block;
  position: absolute;
  top: 39px;
  left: 0px;
  background: #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 16px 12px 33px 12px;
  text-align: left;
  z-index: 3;
  display: none;
}

.drawdrop_menu_text {
  padding-bottom: 16px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  line-height: 120%;
}
.drawdrop_menu_text1 {
  padding-bottom: 24px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
  line-height: 120%;
  font-weight: bold;
  margin-top: 40px;
}
.drawdrop_menu_text2 {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.drawdrop_line {
  margin-top: 40px;
  border: 1px solid black;
  margin-bottom: 0px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 330px;
  position: relative;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
  outline: none;
  border-right: none;
}

.search-button {
  width: 36px;
  height: 36px;
  background-color: #0f8277;
  border: 1px solid #5c5c5c;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  background-color: white;
  mask: url("/img/Group.svg") no-repeat center;
  mask-size: contain;
  border: 1px solid #5c5c5c;
  display: flex;
}
.text_login {
  color: #0f8277;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border: none;
  background-color: white;
  margin-left: 104px;
}
.text_registr {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border: none;
  border-radius: 4px;
  background: #0f8277;
  margin-left: 16px;
  padding: 10px 12px;
}

.rrr {
  margin-left: 44px;
}
.button1 {
  margin-left: auto;
}

/* ТИП С НОУТОМ СТАРТ*/

.conteuner2 {
  height: auto;
  width: 1296px;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #dbf3ed;
  border-radius: 12px;
  /* margin-bottom: 80px; */
}
.layout {
  display: flex;
}
.main_img {
  padding-top: 39px;
  padding-bottom: 30px;
  padding-left: 88px;
}

.text_main {
  color: #000;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 32px;
  text-align: left;
  padding-top: 170px;
}
.text_main_littl {
  text-align: left;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.main_div {
  width: 512px;
  height: 250px;
  padding-left: 110px;
}
.main_button {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0f8277;
  border: 1px solid #0f8277;
  width: 130px;
  height: 40px;
}
.main_button {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.main_button2 {
  display: flex;
  width: 110px;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 2px solid #0f8277;
  justify-content: center;
  align-items: center;
}
.main_button_text2 {
  color: #0f8277;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.button_main {
  gap: 24px;
  display: flex;
}
.section3 {
  width: 1296px;
  height: 460px;
}

.room {
  width: 1296px;
  height: auto;
  margin: auto;
}

.room_grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 420px);
  gap: 24px;
  justify-content: space-between;
}

.people {
  width: 1296px;
  height: auto;
  margin: auto;
}
.people_grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 300px);
  gap: 24px;
  justify-content: space-between;
}
.cotegori {
  width: 1296px;
  height: auto;
  margin: auto;
}

.text_cotegori {
  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 240px);
  gap: 120px; */
  display: flex;
  justify-content: space-between;
  max-width: 1296px;
}
.firma {
  width: auto;
  height: auto;
  height: auto;
  background-color: #dbf3ed;
}
.nav_firma {
  width: 1296px;
  height: auto;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.foto_firma {
  width: 1296px;
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.conteuner_foto {
  height: auto;
  width: 1296px;
  margin: auto;
  align-items: center;
}
.foto_foto {
  display: grid;
  grid-template-columns: 636px 600px;
  grid-template-rows: 412px;
  grid-column-gap: 72px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.brands_block {
  display: grid;
  grid-template-rows: repeat(3, 136px);
  grid-template-columns: repeat(3, 196px);
  grid-area: 1 / 2 / 2 / 3;
  place-items: center;
}

.brands_item img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.brands_item:nth-child(1),
.brands_item:nth-child(2),
.brands_item:nth-child(4),
.brands_item:nth-child(5) {
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.brands_item:nth-child(8) {
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.brands_item:nth-child(3),
.brands_item:nth-child(6) {
  border-bottom: 1px solid #bababa;
}

.brends_icon {
  justify-self: center;
  align-self: center;
}
.brands_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button_div1 {
  width: 130px;
  height: 40px;
  background-color: #0f8277;
  border-radius: 4px;
  padding: 10px, 12px, 10px, 12px;
  border: 1px solid #0f8277;
}
.wrapper {
  width: 1296px;
  height: 700px;
  margin: auto;
  display: flex;
  gap: 24px;
  padding-bottom: 100px;
}

.firma_preis {
  width: 1296px;
  height: auto;
  margin: auto;
  display: grid;
  gap: 24px;
}
.preis {
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  width: 416px;
  height: 700px;
}
.preis1 {
  width: 304px;
  height: auto;
}
.student {
  display: grid;
  grid-template-columns: 306px repeat(2, auto) 306px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 24px;
}
.fotoforo {
  height: auto;
  width: 1296px;
  margin: auto;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
}
.div5 {
  grid-area: 3 / 3 / 4 / 4;
}
.div6 {
  grid-area: 3 / 4 / 4 / 5;
}
.div7 {
  grid-area: 2 / 4 / 3 / 5;
}
.div8 {
  grid-area: 1 / 4 / 2 / 5;
}
.div9 {
  grid-area: 1 / 2 / 3 / 4;
}
.conteuner3 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/image 32.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  margin-top: 77px;
}
.form {
  background-color: #dbf3ed;
  width: 565px;
  height: 540px;
  top: 65px;
  border-radius: 24px;
  padding: 30px;
  gap: 24px;
  margin: 65px auto 48px;
}
.message {
  height: 104px;
  max-height: 104px;
  max-width: 505px;
  min-height: 104px;
  min-width: 505;
}
.texth2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin: 12px 0px;
}
.texth2_centr {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
}
.text_green {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f8277;
  padding-top: 80px;
}
.button_more {
  text-decoration: none;
  display: flex;
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 83px;
}
.img_button {
  padding-left: 16px;
}

.text_black {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}
.text_logo_black {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 12px;
}
.text_dan {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 12px;
}
.foto_dan {
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 390px;
  text-align: left;
}

.text_h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 16px;
  padding-bottom: 77px;
}

.img_text {
  padding-left: 16px;
  display: flex;
  align-items: flex-end;
}
.icon_text {
  padding-right: 12px;
}
.dandiv {
  height: 460px;
  width: auto;
}
.text_h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 16px;
  padding-bottom: 52px;
}
.danradius {
  border-radius: 5px;
}

.peopletext {
  height: 140px;

  padding: 24px 16px;
}
.danradius1 {
  border-radius: 5px;
}
.foto_dan1 {
  padding-bottom: 16px;
  align-items: center;
  width: 390px;
  text-align: left;
  display: flex;
}
.text_dan {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 12px;
}

.text_h31 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 86px;
}
.text_icon {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f8277;
  text-decoration: none;
}
.text_h32 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 86px;
}
.text_h33 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 57px;
}
.textp {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-top: 40px;
}
.cat {
  display: inline;
  gap: 32px;
  width: 306px;
  justify-content: space-between;
}
.cat_text {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-top: 10px;
}
.text_green1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f8277;
  margin-top: 32px;
}
.text22 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 32px 0;
}
.texth222 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  padding-top: 68px;
}
.button_div1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #eeeeee;
}
.texth2_centr1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
  padding-top: 80px;
}
.wrapper_preis {
  border-radius: 24px;
  border: 1px;
  background-color: #f6fdff;
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper_preis2 {
  border-radius: 24px;
  border: 1px;
  background-color: #0f8277;
  margin-top: 0;
  margin-bottom: 0;
}

.wrap_text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}

.wrap_text2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 27px;
}
.wrapper49 {
  margin: 56px;
  height: auto;
  width: 304px;
  margin-bottom: 27px;
}
.wrap_text_smol2 {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 27px;
}
.wrap_text_smol {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
  margin-bottom: 27px;
}
.text49 {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.text_big_preis {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 75px;
}
.text_big_preis2 {
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 75px;
  color: #ffffff;
}
.mo {
  color: #ffffff;
}

.button_div2 {
  width: 119px;
  height: 42px;
  top: 244px;
  left: 92px;
  padding: 10px, 12px, 10px, 12px;
  border-radius: 4px;
  gap: 10px;
  background-color: #0f8277;
  text-align: center;
  border: 1px solid #ffffff;
  color: #f6fdff;
}
.Get_Started {
  text-align: center;
}
.line {
  border: 1px solid #0f8277;
  margin: 48px 0;
}
.line2 {
  border: 1px solid #ffffff;
  margin: 48px 0;
}
.img_preis2 {
  height: 16px;
  width: 16px;
  border-radius: 500px;
  background-color: #ffffff;
}

.img_preis {
  background-color: #0f8277;
  height: 16px;
  width: 16px;
  border-radius: 500px;
}
.text_preis_smol {
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 16px;
}
.line_preis {
  margin-bottom: 16px;
  height: ;
}
.text_big_preis2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 27px;
}

.text_big_preis3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 46px;
}
.texth4_centr {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 24px;
}
.f1_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 24px;
}
.Nametext {
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 24px;
}
.word {
  width: 505px;
  height: Hug (48px);
  padding: 12px;
  border-radius: 4px;
  border: 1px;
  width: 100%;
  box-sizing: border-box;
}
.word2 {
  width: 505px;
  height: Hug (48px);
  padding: 12px;
  border-radius: 4px;
  border: 1px;
  width: 100%;
  height: 104px;
  max-width: 565px;
  max-height: 104px;
  box-sizing: border-box;
  min-width: 565px;
  min-height: 104px;
}
.Send {
  width: 196px;
  height: 42px;
  padding: 10px, 12px, 10px, 12px;
  border-radius: 4px;
  gap: 10px;
  background-color: #0f8277;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #f6fdff;
  border: 1px solid #0f8277;
  margin-top: 24px;
  float: left;
}

.conteuner4 {
  height: auto;
  width: 1296px;
  margin: auto;

  margin-top: 30px;
  align-items: center;
  margin-bottom: 30px;
}
.top_footer {
  display: flex;
  justify-content: space-between;
}
.textpx {
  margin-top: 16px;
}
